body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

form {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
}

.page {
    display: none; /* Esconde todas as páginas por padrão */
}

.page.active {
    display: block; /* Mostra apenas a página com a classe 'active' */
}

.page h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

.next-btn {
    background-color: #007BFF;
    float: right;
}

.prev-btn {
    background-color: #6c757d;
    float: left;
}

.submit-btn {
    background-color: #28a745;
    float: right;
}