form {
    background-color: var(--white);
    width: 85%;
    padding: 30px 10px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: none;
}

.page.active {
    display: flex;
}

.next__btn {
    border: none;
    background-color: var(--orange);
    color: var(--white);
    padding: 2.5px;
    cursor: pointer;
    width: 100%;
    font-size: var(--font-btn);
    border: 1px solid var(--orange);
    transition: ease 0.4s;
}

.next__btn:hover {
    border: 1px solid var(--orange);
    background-color: var(--white);
    color: var(--orange);
}

.prev__btn {
    border: 1px solid var(--orange);
    background-color: var(--white);
    color: var(--orange);
    padding: 2.5px;
    cursor: pointer;
    transition: ease 0.4s;
}

.prev__btn:hover {
    background-color: var(--orange);
    color: var(--white);
}

/* Primeiro form */

.card__img {
    width: 200px;
}

.card__titulo {
    color: var(--blue);
    font-weight: 700;
}

.card__paragraph {
    color: var(--gray);
    /* margin: 15px; */
    text-align: center;
    width: 300px;
}

/* Segundo form */

.card__img__formulario {
    width: 105px;
}

.card__container__titulo {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card__container__titulo_time {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card__titulo__formulario {
    font-size: var(--font-h1);
    color: var(--blue);
    font-weight: 700;
}

.card__etapa {
    color: var(--blue);
    font-size: var(--font-etapa);
}

.card__container__inputs {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* border: 1px solid red; */
}

label {
    font-size: var(--font-p);
    color: var(--gray);
}

input {
    font-size: var(--font-p);
    border: none;
    border-bottom: 1px solid var(--orange);
    width: 230px;
    margin-bottom: 5px;
}

.card__container__btn {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid red; */
    width: 100%;
}

i {
    color: var(--blue);
}